/* Container for the entire error page */
.error-page {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    background-color: #ffffff;
    justify-content: space-between; /* Ensures content is centered between header and footer */
}

/* Center content and reduce space */
.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers content vertically */
    flex: auto; /* Allows content to take up the main space */
    text-align: center;
    padding: 10px 20px;
}

/* Adjusted size for the error image */
.error-logo {
    width: 400px;
    height: 400px;
    margin-bottom: 4px;
    margin-top: 100px;
}

/* Smaller font size for error code */
.error-code {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}


/* Smaller and more compact back button */
.back-button {
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    padding: 8px 16px;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: -28px;
    margin-top: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
    background-color: #0073ff;
    color: #fff;
}