/* General navbar styling */
.navbar {
    background-color: #0073ff;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    margin-right: 15px;
    color: white;
}

.search-bar-container {
    margin-left: auto;
}

.search-bar-container .form-control {
    max-width: 250px;
    height: 40px;
    min-width: 250px;
}

.search-bar-container .btn {
    height: 40px;
}

/* Mobile View Specific Adjustments */
/* 
@media (max-width: 992px) {
    .navbar-toggler {
        display: block;
        border: none;
        background-color: transparent;
    }

    
    .dropdown-menu {
        position: absolute;
        top: 60px; 
        left: 0px; 
        z-index: 1000;
        display: none;
        width: 200px;
        background-color: #0073ff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    }

    .dropdown-menu.show {
        display: block;
    }

    .navbar-collapse {
        display: none;
    }

    .search-bar-container {
        margin-left: auto;
    }

    .navbar-nav {
        display: none;
    }
}

@media (min-width: 993px) {
    .navbar-nav {
        display: flex !important;
    }

    .dropdown-menu {
        display: none;
    }
} */

.autocomplete-list {
    position: absolute;
    margin-top: 50px;
    left: 75%;
    right: 14px;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    font-family: sans-serif;
    color: #0073ff;
  }
  
  .autocomplete-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }

  .coin-name {
    color: blue; /* Change to whatever color you like */
  }
  
  .coin-price {
    color: green; /* Change to whatever color you like */
  }