.user-panel {
    position: fixed;
    top: 0;
    right: -300px; /* Start off-screen to the right */
    width: 300px; /* Adjust width as needed */
    height: 100%;
    background-color: #ffffff;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    transition: right 0.5s ease-in-out;
    z-index: 1000; /* Ensure it's above other content */
  }
  .user-icon {
    width: 100px;
    height: 100px;
    background-color: white;  /* Set background color to white */
    color: #0073ff;           /* Set text color to blue */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    margin: 15px auto 10px;
    border: 2px solid #0073ff;  /* Add a blue border to match the blue text color */
} 
  
  .user-panel.open {
    background-color: #0073ff;
    right: 0; /* Slide into view */
  }
  
  .user-panel-header {
    padding: 20px;
    background-color: #0073ff; /* Adjust color to match your theme */
    color: white;
    text-align: center;
  }
  
  .user-panel-nav {
    list-style: none;
    padding: 0;
    margin: 20px; /* Adjust spacing */
  }
  

  .user-panel-nav1 {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links {
    color: white;
    padding: 15px 20px; /* Increased padding for better touch interaction */
    display: block; /* Make the links full width for easier clicking */
    font-size: 28px; /* Adjusted font size */
    text-decoration: none; /* Remove underline */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);  */
    transition: background-color 0.3s; /* Smooth background transition */
    border-bottom: 1px solid #ccc; /* Add a border to separate links */
  }
  
  .links:hover {
    background-color: rgba(255, 255, 255, 0.1);
    
  }
  
  .user-panel-header {
    position: relative;
    padding: 20px;
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 24px;
  }
  
  